*{
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: 1.5625vw;
	font-family: "Microsoft YaHei";
}
html,body{
	height: 100%;
	overflow: :hidden;
}
.music{
	position: fixed;
	top:5vh;
	right:5vw;
	z-index: 5;
	width: 7.11vw;
	height: 4vh;
	border: 3px solid #ef1639;
	-webkit-border-radius:50%;
	   -mos-border-radius:50%;
			border-radius:50%;
	background: #fff;
}
.music >img{
	width: 7.11vw;
	height: 4vh;
	border-radius:50%;
	overflow: hidden;
}
.img1{
	background: url("../img/use/naruto1.jpg") no-repeat center center;
	height: 100%;
	background-size: 100%;
	-webkit-animation:img1animation 3s linear;
	   -moz-animation:img1animation 3s linear;
			animation:img1animation 3s linear;
}
@-webkit-keyframes img1animation{
	0%{
		opacity:0;
	}
	100%{
		opacity: 100:;
	}
}
@-moz-keyframes img1animation{
	0%{
		opacity:0;
	}
	100%{
		opacity: 100:;
	}
}
@keyframes img1animation{
	0%{
		opacity:0;
	}
	100%{
		opacity: 100:;
	}
}
.tag{
	background: url("../img/use/tag.png") no-repeat center center;
	-webkit-border-radius:50%;
	   -mos-border-radius:50%;
			border-radius:50%;
	left: 5vw;
	top: 29vh;
	position: absolute;
	height: 14.5%;
	width: 14.5%;
	background-size: 100%;
	-webkit-animation:taganimation 5s linear;
	   -moz-animation:taganimation 5s linear;
	    -ms-animation:taganimation 5s linear;
			animation:taganimation 5s linear;
}
@-webkit-keyframes taganimation{
	0%{
		opacity:0;
		-webkit-transform: scale(.8,.8);
		   -moz-transform: scale(.8,.8);
		    -ms-transform: scale(.8,.8) ;
		        transform: scale(.8,.8);
	}
	100%{
		opacity:1;
	}
}
@-moz-keyframes taganimation{
	0%{
		opacity:0;
		-webkit-transform: scale(.8,.8) ;
		   -moz-transform: scale(.8,.8) ;
		    -ms-transform: scale(.8,.8) ;
		        transform: scale(.8,.8) ;
	}
	100%{
		opacity:1;
	}
}
@-ms-transform-keyframes taganimation{
	0%{
		opacity:0;
		-webkit-transform: scale(.8,.8) ;
		   -moz-transform: scale(.8,.8) ;
		    -ms-transform: scale(.8,.8) ;
		        transform: scale(.8,.8) ;
	}
	100%{
		opacity:1;
	}
}
@keyframes taganimation{
	0%{
		opacity:0;
		-webkit-transform: scale(.8,.8);
		   -moz-transform: scale(.8,.8);
		    -ms-transform: scale(.8,.8) ;
		        transform: scale(.8,.8);
	}
	100%{
		opacity:1;
	}
}
.rotation{
	background: url("../img/use/tag.png") no-repeat center center;
	-webkit-border-radius:50%;
	   -moz-border-radius:50%;
	    -ms-border-radius:50%;
			border-radius:50%;
	left: 5vw;
	top: 29vh;
	position: absolute;
	height: 14.5%;
	width: 14.5%;
	background-size: 100%;
	-webkit-animation:tagrotate 5s linear infinite;
	   -moz-animation:tagrotate 5s linear infinite;
	    -ms-animation:tagrotate 5s linear infinite;
			animation:tagrotate 5s linear infinite;
}
@-webkit-keyframes tagrotate{
	from{-webkit-transform:rotate(0deg)}
	to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes tagrotate{
	from{-moz-transform:rotate(0deg)}
	to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes tagrotate{
	from{
		-ms-transform:rotate(0deg)
		-ms-transform-origin:0%;
	}
	to{
		-ms-transform:rotate(360deg)deg);
		-ms-transform-origin:100%;
	}
}
@keyframes tagrotate{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}
}
.img2{
	display: none;
	background: url("../img/use/jiuwei.jpeg") no-repeat center center;
	height: 100%;
	background-size: 100%;
}
.img3{
	display: none;
	background: url("../img/use/xielunyan.png") no-repeat center center;
	height: 100%;
	background-size: 100%;
}
.img4{
	display: none;
	background: url("../img/use/naruto2.jpg") no-repeat center center;
	height: 100%;
	background-size: 100%;
}
.thanks{
	display: none;
	background: url("../img/use/happy birthday.gif") no-repeat center center;
	height: 100%;
	background-size: 100%;
}